:root {
	--red-team-colour: hsla(0, 85%, 61%, 0.7);
	--blue-team-colour: hsla(210, 85%, 61%, 0.7);
	/* Decrease the opacity slightly for odd numbered rows in a table for readability */
	--red-team-odd-colour: hsla(0, 85%, 61%, 0.5); 
	--blue-team-odd-colour: hsla(210, 85%, 61%, 0.5);

	/* A green background colour for cells that contain team to search */
	--searched-team-colour: hsla(140, 85%, 61%, 0.9);

	/* Saturated background colours for cells that contain our team */
	--our-team-red-colour: hsla(0, 100%, 30%, 1.0);
	--our-team-blue-colour: hsla(210, 100%, 30%, 1.0);

	--divider: 2px solid black;
}

.Strategy {
  min-height: 100vh;
  padding-left: 1em;
}

h1 {font-size: 18pt}

a {
}

header {
  align-items: center;
  font-size: calc(10px + 2vmin);
}

header .titleBar {
	float: right;
	text-align: center;
	padding-right: 10em;
	border-right: 1px solid;
}

header .settings {
	float: right;
	padding-right: 2em;
	padding-left: 2em;
	padding-bottom: 1em;
	min-width: 320px;
}

header .settings label {
    font-size: 11pt;
}

header .settings h5 {
    margin-bottom: 0em;
}

div.app {
	clear: both;
	border-top: 1px solid;
	padding-top: 1em;
}

footer {
  margin-top: 4em;
  border-top: 1px solid;
  padding-top: 1em;
  font-size: 75%;
  vertical-align: bottom;
}

.pick-list table td,th {
text-align: left;
padding-right: 1em;
}

.matchesContainer {
	display: inline-block;
}

.searchTeam {
	float: right;
	margin-left: 1vw;
}

th.rightDivider, td.rightDivider {
	border-right: var(--divider);
}

tr.bottomDivider {
	border-bottom: var(--divider);
}

table {
	border-collapse: collapse;
}

tr.redTeam, td.redTeam {
	background-color: var(--red-team-colour);
}

tr.blueTeam, td.blueTeam {
	background-color: var(--blue-team-colour);
}

tr:nth-child(odd)>td.redTeam, tr:nth-child(odd).redTeam {
	background-color: var(--red-team-odd-colour);
}

tr:nth-child(odd)>td.blueTeam, tr:nth-child(odd).blueTeam {
	background-color: var(--blue-team-odd-colour);
}

td.searchedTeam {
	background-color: var(--searched-team-colour) !important;
}

td.ourTeam {
	color: white;
}

td.ourTeam.redTeam {
	background-color: var(--our-team-red-colour) !important;
}

td.ourTeam.blueTeam {
	background-color: var(--our-team-blue-colour) !important;
}

.outputFilter {
    margin-top:1em;
    margin-bottom:1em;
}

textarea {
    font-family: Menlo, monospace;
}
p code {
    background-color: rgb(217,217,217);
}

.invalid-team {
	border-color: red;
}